<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>

    <h2>All Registered Users</h2>

    <table border="1" cellpadding="10">

        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        {% for user in users %}

        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>

            <td>
                <a href="/user_delete?email={{ user.email }}">
                    Delete
                </a>
            </td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>